{
  "presets": ["@babel/preset-react", "@babel/preset-env"],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "minify": true,
        "transpileTemplateLiterals": true,
        "pure": true
      }
    ]
  ]
}
