{
  "presets": ["minify", "@babel/preset-react", "@babel/preset-env"],
  "plugins": [
      "@babel/plugin-proposal-class-properties",
      "@babel/plugin-proposal-object-rest-spread",
    [
      "babel-plugin-styled-components",
      {
        "minify": true,
        "transpileTemplateLiterals": true,
        "pure": true
      }
    ]
  ]
}
